@use '../../shared/styles/variable/globalIndex';
@use '../../shared/styles/variable/global';
@use '../../shared/styles/mixins';
@use '../../shared/styles/variable/common';
@use 'sass:color';

.services {
    display: flex;
    width: mixins.rem(250);
    align-items: center;
    justify-content: center;
    border-radius: mixins.rem(15);
    column-gap: mixins.rem(20);
    cursor: pointer;
    background: radial-gradient(circle, #d21c72, #bc188d, #600f5f, #2f164b);
}

.wrapper_main {
    display: flex;
    flex-direction: column;
    row-gap: mixins.rem(45);
    padding-bottom: mixins.rem(60);
}

.title_iq_pump {
    font-family: 'Luckiest Guy';
    font-weight: 700;
    color: #91fca5;
    font-size: mixins.rem(24);
}

.cover_sub_title {
    display: flex;
    justify-content: center;
    min-width: 100%;
    text-align: center;
}

.title_main {
    text-align: center;
    font-weight: 700;
    font-size: mixins.rem(24);
    line-height: globalIndex.$line_height;    max-width: mixins.rem(537);
    @include mixins.adaptiveValue('font-size', 24, 16, 3, 800, 440);
}

.svg_brain_block {
    width: mixins.rem(65);
    height: mixins.rem(100);
    border-radius: 50%;
}

.cover_for_position {
    display: flex;
    min-width: 100%;
    justify-content: center;
}



.icon {
    z-index: 1000;
    object-fit: contain;
    position: absolute;
    //position: absolute;
    top: 0;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, 5%);

    //width: mixins.rem(560);
    //height: mixins.rem(730);
    //transform: translate(-50%, mixins.rem(135));

    //@include mixins.adaptiveHeight('height', 730, 390, 3, 2500, 1700);
    //@include mixins.adaptiveHeight('height', 390, 340, 3, 1700, 1500);
    //@include mixins.adaptiveHeight('height', 340, 220, 3, 1500, 1000);

    //@media(min-height: mixins.em(2000)) {
    //    transform: translate(-50%, mixins.rem(135));
    //}
    //
    //@media(max-height: mixins.em(1999)) {
    //    transform: translate(-50%, mixins.rem(135));
    //}
    //
    //@media(max-height: mixins.em(1600)) {
    //    transform: translate(-50%, mixins.rem(130));
    //}
    //
    //@media(max-height: mixins.em(1464)) {
    //    transform: translate(-50%, mixins.rem(122));
    //}
    //@media(max-height: mixins.em(1368)) {
    //    transform: translate(-50%, mixins.rem(110));
    //}
    //@media(max-height: mixins.em(1280)) {
    //    transform: translate(-50%, mixins.rem(110));
    //}
    //@media(max-height: mixins.em(1220)) {
    //    transform: translate(-50%, mixins.rem(100));
    //}
}
.background {
    position: absolute;
    width: mixins.rem(1100);
    height: mixins.rem(180);
    background: radial-gradient(circle farthest-side at 50% 50%, #d21c72 0%, #bc188d 3%, #600f5f 10%, #2f164b 15%);
    border-radius: 50%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    padding-top: env(safe-area-inset-top, 0);
    justify-content: center;
    row-gap: mixins.rem(20);
    min-width: 100%;
    align-items: center;
}

.title_cover {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    align-items: center;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    row-gap: mixins.rem(10);
    border-radius: 50%;
    width: mixins.rem(180);
    height: mixins.rem(180);
}

.balance_body_block {
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: mixins.rem(30);
    max-width: mixins.rem(490);

    @media (min-width: mixins.em(361)) {
        width: mixins.rem(321);
    }
    @media (max-width: mixins.em(360)) {
        width: mixins.rem(280);
    }
}

.title {
    font-family: 'Luckiest Guy';
    font-weight: 700;
    color: #91fca5;
    font-size: mixins.rem(26);
    min-width: 100%;
    text-align: center;
}

.svg_brain {
    width: mixins.rem(85);
    height: mixins.rem(100);
    border-radius: 50%;
}

.th_info {
    color: white;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
}

.user_name_tg {
    font-weight: 800;
}

.adress {
    font-weight: 400;
}

.balance_block {
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: mixins.rem(15);
    row-gap: mixins.rem(20);
    padding-top: mixins.rem(30);
    padding-bottom: mixins.rem(20);
    padding-left: mixins.rem(10);
    padding-right: mixins.rem(10);
}

.subtitle_block {
    font-size: mixins.rem(16);
    font-weight: 700;
    color: #ffffff;
}

.balance_stt {
    font-family: 'Bebas Neue';
    font-size: mixins.rem(36);
    font-weight: 700;
    color: #39e476;
}

.btn_cash {
    background-color: #442d5d;
    padding-bottom: mixins.rem(10);
    padding-top: mixins.rem(10);
    transition:
        background-color ease 0.3s 0s,
        color ease 0.3s 0s;
    min-width: mixins.rem(120);
    font-weight: 600;

    &.active {
        background-color: #39e476;
        color: #2f164b;
    }

    @media (any-hover: hover) {
        &:hover {
            //transition:
            //    background-color ease 0.3s 0s,
            //    color ease 0.3s 0s;
            //background-color: #39e476;
            //color: black;
        }
    }

    &.left {
        padding-left: mixins.rem(30);
        border-top-left-radius: mixins.rem(40);
        border-bottom-left-radius: mixins.rem(40);
        padding-right: mixins.rem(10);
        border-right: mixins.rem(1) solid rgba(255, 255, 255, 0.3);
    }
    &.right {
        border-left: mixins.rem(1) solid rgba(255, 255, 255, 0.3);
        border-top-right-radius: mixins.rem(40);
        border-bottom-right-radius: mixins.rem(40);
        padding-right: mixins.rem(30);
        padding-left: mixins.rem(10);
    }
}

.btns_block {
    font-size: mixins.rem(14);
    font-weight: 400;
    color: #ffffff;
    display: flex;


    &:first-child {
    }

    &:last-child {
    }
}

.text_in_btn {
    display: flex;
    row-gap: mixins.rem(2);
    flex-direction: column;
}

.add_money {
}

.input_block {
    display: flex;
    flex-direction: column;
    row-gap: mixins.rem(10);
    min-width: 100%;
    position: relative;
}

.wrap_inp {
    min-width: 100%;
    width: 100%;
    flex: 1 1 auto;
    height: mixins.rem(48);
    font-size: mixins.rem(16);
    font-weight: 600;
    line-height: globalIndex.$line_height;
    position: relative;
}

.inp {
    color: #000000;
    font-size: mixins.rem(16);
    height: 100%;
    width: 100%;
    border-radius: mixins.rem(15);
    background-color: #ffffff;
    padding-top: mixins.rem(5);
    padding-bottom: mixins.rem(5);
    font-weight: 700;
    min-width: 100%;
    @media (min-width: mixins.em(380)) {
        padding-left: mixins.rem(15);
        padding-right: mixins.rem(15);
    }

    @media (max-width: mixins.em(380)) {
        padding-left: mixins.rem(15);
        padding-right: mixins.rem(64);
    }

    &::placeholder {
        font-weight: 700;
    }
}

.range {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-weight: 400;
    font-size: mixins.rem(16);
    text-align: center;
    row-gap: mixins.rem(20);
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 100%;
    transform: translate(mixins.rem(0), mixins.rem(24));

    &.red {
        color: #ff968f;
    }
}

.cover_btn {
    display: flex;
    flex-direction: column;
    row-gap: mixins.rem(20);
    align-items: center;
    font-weight: 600;
    padding-top: mixins.rem(10);
}

.cover_btn_send_cover {
    color: #442d5d;
}

.btn_send {
    //background-color: #39e476;
    border: none;
    cursor: pointer;
    //box-shadow: mixins.rem(0) mixins.rem(0) mixins.rem(10) rgba(0, 0, 0, 0.2);
    color: #ffffff;
    transition:
        background-color ease 0.3s,
        box-shadow ease 0.3s;
    padding-left: mixins.rem(28);
    padding-right: mixins.rem(28);
    min-height: mixins.rem(70);
    padding-top: mixins.rem(18);
    padding-bottom: mixins.rem(18);
    font-size: mixins.rem(16);
    font-weight: 700;
    border-radius: mixins.rem(40);
    min-width: mixins.rem(137);

    &.acess {
        background-color: #39e476;
        box-shadow: mixins.rem(0) mixins.rem(0) mixins.rem(10) rgba(0, 0, 0, 0.2);
        color: #2F164B;
    }

    @media (any-hover: hover) {
        &:hover {
            background-color: color.adjust(globalIndex.$btn_background_hover, $lightness: 10%);
            color: #2F164B;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition:
                background-color ease 0.3s,
                box-shadow ease 0.3s;
        }
    }
}

.btn_cancel {
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition:
        background-color ease 0.3s,
        box-shadow ease 0.3s;
    padding-left: mixins.rem(28);
    padding-right: mixins.rem(28);
    min-height: mixins.rem(70);
    padding-top: mixins.rem(18);
    padding-bottom: mixins.rem(18);
    font-size: mixins.rem(16);
    font-weight: 700;
    border-radius: mixins.rem(40);
    min-width: mixins.rem(137);

    @media (any-hover: hover) {
        &:hover {
            background-color: rgba(220, 156, 133, 0.8);
            transition:
                background-color ease 0.3s,
                box-shadow ease 0.3s;
        }
    }
}
