@use './../../shared/styles/variable/globalIndex';
@use './../../shared/styles/variable/global';
@use './../../shared/styles/mixins';
@use './../../shared/styles/variable/common';
@use 'sass:color';


  .overlay {
    display: flex;
    min-width: 100vw;
    min-height: 100%;
    margin: 0 auto;
  //  position: relative;
  //  top: 0;
  //  left: 0;
  //  width: 100vw;
  //  height: 100vh;
  //  background-color: rgba(0, 0, 0, 0.9);
  //  z-index: 100;
  //  display: flex;
  //  align-items: center;
    justify-content: center;
    //overflow: hidden;
  }

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: mixins.rem(40);
  padding-left: mixins.rem(20);
  padding-right: mixins.rem(20);
  row-gap: mixins.rem(50);
  box-sizing: border-box;
  overflow-y: scroll;

  @media(min-height: mixins.em(1101)) {
    background: radial-gradient(circle farthest-side at 50% 20%, #d21c72 0%, #bc188d 3%, #600f5f 13%, #2f164b 20%);
  }
  @media(max-height: mixins.em(1100)) {
    background: radial-gradient(circle farthest-side at 50% 20%, #d21c72 0%, #bc188d 3%, #600f5f 13%, #2f164b 20%);
  }
  @media(max-height: mixins.em(1012)) {
    background: radial-gradient(circle farthest-side at 50% 22%, #d21c72 0%, #bc188d 3%, #600f5f 15%, #2f164b 23%);
  }
  @media(max-height: mixins.em(912)) {
    background: radial-gradient(circle farthest-side at 50% 23%, #d21c72 0%, #bc188d 3%, #600f5f 17%, #2f164b 25%);
  }
  @media(max-height: mixins.em(878)) {
    background: radial-gradient(circle farthest-side at 50% 24%, #d21c72 0%, #bc188d 3%, #600f5f 20%, #2f164b 27%);
  }
  @media(max-height: mixins.em(824)) {
    background: radial-gradient(circle farthest-side at 50% 26%, #d21c72 0%, #bc188d 3%, #600f5f 20%, #2f164b 30%);
  }
  @media(max-height: mixins.em(740)) {
    background: radial-gradient(circle farthest-side at 50% 28%, #d21c72 0%, #bc188d 3%, #600f5f 22%, #2f164b 33%);
  }
  @media(max-height: mixins.em(670)) {
    background: radial-gradient(circle farthest-side at 50% 30%, #d21c72 0%, #bc188d 3%, #600f5f 28%, #2f164b 39%);
  }
  @media(max-height: mixins.em(600)) {
    background: radial-gradient(circle farthest-side at 50% 34%, #d21c72 0%, #bc188d 3%, #600f5f 28%, #2f164b 39%);
  }
  @media(max-height: mixins.em(585)) {
    background: radial-gradient(circle farthest-side at 50% 34%, #d21c72 0%, #bc188d 3%, #600f5f 32%, #2f164b 42%);
  }
  @media(max-height: mixins.em(565)) {
    background: radial-gradient(circle farthest-side at 50% 34%, #d21c72 0%, #bc188d 3%, #600f5f 36%, #2f164b 46%);
  }

  @media(max-height: mixins.em(565)) {
    background: radial-gradient(circle farthest-side at 50% 34%, #d21c72 0%, #bc188d 3%, #600f5f 36%, #2f164b 54%);
  }

  @media (min-width: mixins.em(global.$mobile)) {
    height: 98%;
    max-width: 100%;
    position: relative;
    width: auto;
    aspect-ratio: 9 / 16;
    border-radius: mixins.rem(15);
  }

  @media (max-width: mixins.em(global.$mobile)) {
    position: relative;
    min-width: 100%;
    min-height: 100%;
  }

  @media (max-width: mixins.em(global.$mobile)) {
    padding-left: mixins.rem(10);
    padding-right: mixins.rem(10);
  }

  @media (max-width: mixins.em(450)) {
    min-height: 98vh;
  }

}



//  .overlay {
//    //position: relative;
//    //top: 0;
//    //left: 0;
//    //width: 100vw;
//    //height: 100vh;
//    //background-color: rgba(0, 0, 0, 0.9);
//    //z-index: 100;
//    //display: flex;
//    //align-items: center;
//    //justify-content: center;
//    //overflow: hidden;
//  }
//
//.cover {
//  display: flex;
//  flex-direction: column;
//  border-radius: mixins.rem(15);
//  align-items: center;
//  padding-bottom: mixins.rem(40);
//  padding-left: mixins.rem(20);
//  padding-right: mixins.rem(20);
//  row-gap: mixins.rem(50);
//  box-sizing: border-box;
//  overflow-y: scroll;
//
//
//  @media(min-height: mixins.em(1101)) {
//    background: radial-gradient(circle farthest-side at 50% 20%, #d21c72 0%, #bc188d 3%, #600f5f 13%, #2f164b 20%);
//  }
//
//  @media(max-height: mixins.em(1100)) {
//    background: radial-gradient(circle farthest-side at 50% 20%, #d21c72 0%, #bc188d 3%, #600f5f 13%, #2f164b 20%);
//  }
//
//  @media(max-height: mixins.em(1012)) {
//    background: radial-gradient(circle farthest-side at 50% 22%, #d21c72 0%, #bc188d 3%, #600f5f 15%, #2f164b 23%);
//  }
//
//  @media(max-height: mixins.em(912)) {
//    background: radial-gradient(circle farthest-side at 50% 23%, #d21c72 0%, #bc188d 3%, #600f5f 17%, #2f164b 25%);
//  }
//  @media(max-height: mixins.em(878)) {
//    background: radial-gradient(circle farthest-side at 50% 24%, #d21c72 0%, #bc188d 3%, #600f5f 20%, #2f164b 27%);
//  }
//  @media(max-height: mixins.em(824)) {
//    background: radial-gradient(circle farthest-side at 50% 26%, #d21c72 0%, #bc188d 3%, #600f5f 20%, #2f164b 30%);
//  }
//
//  @media(max-height: mixins.em(740)) {
//    background: radial-gradient(circle farthest-side at 50% 28%, #d21c72 0%, #bc188d 3%, #600f5f 22%, #2f164b 33%);
//  }
//
//  @media(max-height: mixins.em(670)) {
//    background: radial-gradient(circle farthest-side at 50% 30%, #d21c72 0%, #bc188d 3%, #600f5f 28%, #2f164b 39%);
//  }
//
//  @media(max-height: mixins.em(600)) {
//    background: radial-gradient(circle farthest-side at 50% 34%, #d21c72 0%, #bc188d 3%, #600f5f 28%, #2f164b 39%);
//  }
//
//  @media(max-height: mixins.em(585)) {
//    background: radial-gradient(circle farthest-side at 50% 34%, #d21c72 0%, #bc188d 3%, #600f5f 32%, #2f164b 42%);
//  }
//  @media(max-height: mixins.em(565)) {
//    background: radial-gradient(circle farthest-side at 50% 34%, #d21c72 0%, #bc188d 3%, #600f5f 36%, #2f164b 46%);
//  }
//
//  @media(max-height: mixins.em(565)) {
//    background: radial-gradient(circle farthest-side at 50% 34%, #d21c72 0%, #bc188d 3%, #600f5f 36%, #2f164b 54%);
//  }
//
//  @media (min-width: mixins.em(global.$mobile)) {
//    height: 98%;
//    max-width: 100%;
//    position: relative;
//    width: auto;
//    aspect-ratio: 9 / 16;
//  }
//
//  @media (max-width: mixins.em(global.$mobile)) {
//    position: relative;
//    width: 98%;
//    height: 100%;
//  }
//
//  @media (max-width: mixins.em(global.$mobile)) {
//    padding-left: mixins.rem(10);
//    padding-right: mixins.rem(10);
//  }
//
//  @media (max-width: mixins.em(450)) {
//    min-height: 98vh;
//  }
//
//}

.notification_actions_btn {
  display: flex;
  column-gap: mixins.rem(20);
  justify-content: space-between;
  font-family: globalIndex.$font_family_fourth;
  padding-right: mixins.rem(10);
  padding-left: mixins.rem(10);
  padding-top: mixins.rem(10);
  min-width: 100%;
  align-items: center;

  @include mixins.adaptiveValue('padding-left', 10, 10, 3, 500, 400);
}


.btn_connect_login {
  background-color: #39e476;
  color: #2F164B;
  border: none;
  cursor: pointer;
  box-shadow: mixins.rem(0) mixins.rem(0) mixins.rem(10) rgba(0, 0, 0, 0.2);
  transition:
          background-color ease 0.3s,
          box-shadow ease 0.3s;

  font-size: mixins.rem(16);
  font-weight: 700;
  font-family: globalIndex.$font_family_btn_first;
  border-radius: mixins.rem(40);

  min-height: mixins.rem(60);
  @media (any-hover: hover) {
    &:hover {
      background-color: color.adjust(globalIndex.$btn_background_hover, $lightness: -10%);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition:
              background-color ease 0.3s,
              box-shadow ease 0.3s;
    }
  }

  @media(min-width: mixins.em(501)) {
    padding-top: mixins.rem(15);
    padding-bottom: mixins.rem(15);
    padding-left: mixins.rem(28);
    padding-right: mixins.rem(28);
    min-width: mixins.rem(137);  }

  @media(max-width: mixins.em(500)) {
    padding-top: mixins.rem(15);
    padding-bottom: mixins.rem(15);
    padding-left: mixins.rem(25);
    padding-right: mixins.rem(25);
    min-width: mixins.rem(120);
  }

}

.btn_stt {
  width: mixins.rem(40);
  min-height: 100%;
}

.icon_notifications {
  width: mixins.rem(34);
}

.select_chosen_value {
  display: flex;
  width: mixins.rem(30);
  height: mixins.rem(30);
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

.selet_list {
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 0;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 500;
  pointer-events: none;
  transform: translate(mixins.rem(-4), mixins.rem(-4));
  width: mixins.rem(140);
  row-gap: mixins.rem(5);
  transition: transform ease 0.3s 0s, opacity ease 0.3s 0s;
  &.select_show_list {
    transform: translate(mixins.rem(-4), mixins.rem(40));
    transition: transform ease 0.3s 0s, opacity ease 0.3s 0s;
    opacity: 1;
    pointer-events: auto;
  }
}



.icon {
  border-radius: 50%;
  width: mixins.rem(30);
  height: mixins.rem(30);
  border-radius: 50%;
  object-fit: contain;
}

.select_wrap {
  display: flex;
  position: relative;
  align-self: center;
  justify-content: center;
}

.select_option {
  display: flex;
}

.bllock_list {
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  width: mixins.rem(140);
  height: mixins.rem(40);
  column-gap: mixins.rem(10);
  cursor: pointer;
  align-items: center;
  border-radius: mixins.rem(60);
  padding-left: mixins.rem(5);
  padding-right: mixins.rem(5);



}

.cover_btns {
  display: flex;
  color: #2F164B;
  align-items: center;
  column-gap: mixins.rem(20);
  justify-content: space-between;
  max-width: mixins.em(250);
  @include mixins.adaptiveValue('column-gap', 20, 10, 3, 450, 400);

}